$bg-color-footer: #262626;
$text-color-black: #1d1d1d;
$text-color-gray: #626262;
$text-color-white: #ffffff;
$color-main: #49a144;

$border-color: #e0e0e0;
$border-input-color: #d6d6d6;
$font-input-color: #b0b0b0;
$border-footer-sections: #7d7d7d;

$font-smaller: 13px;
$font-small: 14px;
$font-regular: 16px;
 