$bg-color-footer: #262626;
$text-color-black: #1d1d1d;
$text-color-gray: #626262;
$text-color-white: #ffffff;

$border-color: #e0e0e0;
$border-input-color: #757575;
$font-input-color: rgb(176, 176, 176);


$font-smaller: 13px;
$font-small: 14px;
$font-regular: 16px;
