extends layouts/_main

block variables
    - var pageTitle = 'UBER EATS'

block content
    main.main
        .container
            section(class="main__search search")
                h2(class="visually-hidden") Найди лучший ресторан!
                div(class="search-form" action="", method="get")
                    p(class="search-form__row")
                        label(class="search-form__label visually-hidden" for="search-input") Поиск по ресторанам и кухням
                        input(class="search-form__input" id="search-input" type="text", name="search restraunt" placeholder="Поиск по ресторанам и кухням" autocomplete="off" )

            section(class="main__stores stores")
                h2(class="stores__title") Рестораны в Москве
                div(class="stores__wrapper")
                    +store("macdonalds", "Макдоналдс — Газетный", "25 - 35")
                        block kitchen
                            p(class="restaurant__cost") &#8381;&#8381;
                            p(class="stores__kitchens")
                                span(class="restaurant__kitchen") Бургеры
                    +store("dimsum", "DimSum & Co — ЦДМ", "40 - 50")
                        block kitchen
                            p(class="restaurant__cost") &#8381;
                            p(class="stores__kitchens")
                                span(class="restaurant__kitchen") Японская
                                span(class="restaurant__kitchen") Китайская
                                span(class="restaurant__kitchen") Азиатская
                    +store("dvizok", "ДвижОК — Манежная", "35 - 45")
                        block kitchen
                            p(class="restaurant__cost") &#8381;
                            p(class="stores__kitchens")
                                span(class="restaurant__kitchen") Американская 
                                span(class="restaurant__kitchen") Европейская
                    +store("nya", "НЯ — NHA", "30 - 40")
                        block kitchen
                            p(class="restaurant__cost") &#8381;&#8381;
                            p(class="stores__kitchens")
                                span(class="restaurant__kitchen") Вьетнамская
                    +store("dzy", "Точка Дзы — Цветной", "40 - 50")
                        block kitchen
                            p(class="restaurant__cost") &#8381;&#8381;
                            p(class="stores__kitchens")
                                span(class="restaurant__kitchen") Вьетнамская
                    +store("cinnabon", "Cinnabon", "25 - 35")
                        block kitchen
                            p(class="restaurant__cost") &#8381;
                            p(class="stores__kitchens")
                                span(class="restaurant__kitchen") Выпечка
                                span(class="restaurant__kitchen") Десерты
                                span(class="restaurant__kitchen") Капкейки
                    +store("pizzelove", "PIZZELOVE", "15 - 25")
                        block kitchen
                            p(class="restaurant__cost") &#8381;&#8381;
                            p(class="stores__kitchens")
                                span(class="restaurant__kitchen") Пицца
                    +store("zu", "Zю кафе — Тверская", "25 - 35")
                        block kitchen
                            p(class="restaurant__cost") &#8381;&#8381;
                            p(class="stores__kitchens")
                                span(class="restaurant__kitchen") Японская
                    +store("bar", "Bar BQ Cafe — Манежная", "30 - 40")
                        block kitchen
                            p(class="restaurant__cost") &#8381;&#8381;&#8381;
                            p(class="stores__kitchens")
                                span(class="restaurant__kitchen") Европейская
                    
block scripts
    script(src="scripts/filter.js")