extends layouts/_main

block variables
    //- put your vars here
    - var dimsumKitchen = [{kitchen: "Японская"}, {kitchen: "Японская"}, {kitchen: "Японская"}]

block content
    main.main
        .container
            section(class="main__search search")
                h2(class="visually-hidden") Найди лучший ресторан!
                form(class="search-form" action="", method="get")
                    p(class="search-form__row")
                        label(class="search-form__label visually-hidden" for="search-input") Поиск по ресторанам и кухням
                        input(class="search-form__input" id="search-input" type="text", name="search restraunt" placeholder="Поиск по ресторанам и кухням")

            section(class="main__stores stores")
                h2(class="stores__title") Рестораны в Москве
                div(class="stores__wrapper")
                    +store("macdonalds", "Макдоналдс — Газетный", "25 - 35")
                        block kitchen
                            span(class="stores__price") &#8381;
                            span(class="stores__price") &#8381;
                            span(class="stores__kitchen") Бургеры
                    +store("dimsum", "DimSum & Co — ЦДМ", "40 - 50")
                        block kitchen
                            span(class="stores__price") &#8381;
                            span(class="stores__kitchen") Японская
                            span(class="stores__kitchen") Китайская
                            span(class="stores__kitchen") Азиатская
                    +store("dvizok", "ДвижОК — Манежная", "35 - 45")
                        block kitchen
                            span(class="stores__price") &#8381;
                            span(class="stores__kitchen") Американская 
                            span(class="stores__kitchen") Европейская
                    +store("nya", "НЯ — NHA", "30 - 40")
                        block kitchen
                            span(class="stores__price") &#8381;
                            span(class="stores__price") &#8381;
                            span(class="stores__kitchen") Вьетнамская
                    +store("dzy", "Точка Дзы — Цветной", "40 - 50")
                        block kitchen
                            span(class="stores__price") &#8381;
                            span(class="stores__price") &#8381;
                            span(class="stores__kitchen") Вьетнамская
                    +store("cinnabon", "Cinnabon", "25 - 35")
                        block kitchen
                            span(class="stores__price") &#8381;
                            span(class="stores__kitchen") Выпечка
                            span(class="stores__kitchen") Десерты
                            span(class="stores__kitchen") Капкейки
                    +store("pizzelove", "PIZZELOVE", "15 - 25")
                        block kitchen
                            span(class="stores__price") &#8381;
                            span(class="stores__price") &#8381;
                            span(class="stores__kitchen") Пицца
                    +store("zu", "Zю кафе — Тверская", "25 - 35")
                        block kitchen
                            span(class="stores__price") &#8381;
                            span(class="stores__price") &#8381;
                            span(class="stores__kitchen") Японская
                    +store("bar", "Bar BQ Cafe — Манежная", "30 - 40")
                        block kitchen
                            span(class="stores__price") &#8381;
                            span(class="stores__price") &#8381;
                            span(class="stores__price") &#8381;
                            span(class="stores__kitchen") Европейская
                    

block scripts
    script(src="scripts/scripts.min.js")