extends layouts/_main

block variables
    //- put your vars here
    - var pageTitle = 'UBER EATS: Restraunt example'

block content
    main.main
        .container
            section(class="restraunt")
                    

block scripts
    script(src="scripts/scripts.min.js")