header.header
  .container
    nav.nav
      h1(class="visually-hidden") UBER EATS
      div(class="nav__brand") <svg class="nav__logo"><use xlink:href="images/sprite.svg#sp-logo"></use></svg>
      div(class="nav__auth authorization")
        button(class="authorization__button button" type="button") Войти
      div(class="nav__basket")
      
